In [25]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('../resources/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../resources/dataset_unab_ORIGINAL SIN P1.csv
../resources/dataset_unab_P1.csv

In [26]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [33]:
# Read and preview data
df = pd.read_csv('../resources/dataset_unab_P1.csv')
df = df.rename({
    't1':'Total Nivel 1',
    'r1':'Cantidad de Reinicios Nivel 1',
    'p1':'Cantidad de Pruebas Nivel 1',
    's1':'Solución Nivel 1',
    'l1':'Largo de la Solución',
    't2':'Tiempo Total Nivel 2',
    'r2':'Cantidad de reinicios Nivel 2',
    'p2':'Cantidad de Pruebas del Nivel 2',
    's2':'Solución generada nivel 2',
    }, axis='columns')
df.head()

,rut,Total Nivel 1,Cantidad de Reinicios Nivel 1,Cantidad de Pruebas Nivel 1,Solución Nivel 1,Largo de la Solución,Tiempo Total Nivel 2,Cantidad de reinicios Nivel 2,Cantidad de Pruebas del Nivel 2,Solución generada nivel 2,...,pt,game_score,score,score_a,score_p,score_d,score_s,programa,sol1,estado
0,179,26.500.862,1,1,[3 3 ] [1 1 2 2 2 ],7,167.471.077,3,10,[2 3 3 3 3 ] [1 1 1 1 2 ],...,43,1.874.461.038,8,5,3,3,2,INGENIERIA EN COMPUTACION E INFORMATICA,5.9,A
1,195,626.875.896,1,1,[3 3 3 ] [2 1 1 2 ],7,1.405.363.876,9,8,[2 3 3 3 3 3 ] [1 1 1 1 ],...,25,1.526.019.867,6,4,2,3,2,INGENIERIA CIVIL INDUSTRIAL,6.7,A
2,218,4.895.157.267,2,8,[3 3 3 0 0 3 3 ] [],7,1.148.441.373,4,36,[2 3 3 3 3 3 0 ] [1 1 1 ],...,141,2.049.771.962,7,5,2,2,3,INGENIERIA EN COMPUTACION E INFORMATICA,5.0,A
3,316,444.682.093,1,16,[3 1 3 3 3 0 3 0 0 ] [],9,507.365.574,2,14,[2 3 3 3 3 3 ] [1 1 1 1 ],...,65,1.498.582.485,7,4,3,2,3,INGENIERIA EN COMPUTACION E INFORMATICA,6.9,A
4,330,2.581.874.334,1,2,[0 3 3 3 ] [2 2 1 ],7,3.928.607.833,2,5,[2 3 3 3 3 ] [1 1 1 1 2 ],...,26,9.693.081.204,5,3,2,2,1,INGENIERIA CIVIL INDUSTRIAL,5.8,A